%p
  First, select your file to be formatified 

%p
  [Select File]

%p
  Then, either select an existing transform or create a new one

%p
  #existing
    = select "bob", "bob", @transforms
  #new
    = link_to "New", "#"

%p
  Now [Transform]
