%p
  Column Actions
  = render :partial => "action", :collection => @cactions
%p
  Row Actions
  = render :partial => "action", :collection => @ractions

%p
  Field Actions 
  = render :partial => "action", :collection => @factions
